{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Tests{% endblock %}

{% block body %}
     <h1>Tests et manipulations du langage Twig</h1>

        {#
        Commentaire sur plusieurs ligne ou pas
        et qui en + est invisible  si on fait
        "Afficher code source" !!!
        #}
    <div>
        <h2>Créer et afficher une variable :</h2>
        <p>{{ "Les moustaches pour afficher du contenu, généralement une variable : " }}</p>
        {% set ma_variable = "Ceci est ma variable Twig" %}

        <p>{{ ma_variable }}.</p>
        <p>{{ ma_variable|upper }} avec le filtre "upper".</p>
        <p>{{ ma_variable|lower }} avec le filtre "lower".</p>
        <p>{{ ma_variable|length }} avec le filtre "length".</p>
    </div>

    <div>
        <h2>Créer et afficher un tableau :</h2>
        {% set colors = ["purple", "blue", "cyan", "green", "yellow", "orange", "red"] %}

        <p>Le tableau "colors" contient {{ colors|length }} couleurs : </p>
        <p>{{ colors|join(', ')}}.</p>

        {% for color in colors %} {# On écrit la boucle dans le bon sens !!! C'est beauuuuuuuuu ! <3 #}
            <div style="background-color: {{ color }}">
                {{ loop.index }} {{ color }}
            </div>
                {% if loop.last %}
                    <p>
                        D’après le folklore irlandais, le Leprechaun possèderait un chaudron plein
                        à ras-bord de pièces d’or. Ce dernier serait bien sûr soigneusement caché dans un lieu
                        merveilleux : le pied d’un arc-en-ciel !
                    </p>
                {% endif%}
        {% endfor %}
    </div>

    <div>
        <h2>Créer et afficher un objet :</h2>
        {% set book = {
            title: "La représentation des arc-en-ciels dans l'histoire",
            year: "2050",
            author: "Jaenne Doe"
        } %}
        <h3>{{ book.title }}</h3>
            {% for key, val in book %}
                <p>{{ key }} : {{ val }}</p>
            {% endfor %}
        https://www.astrolabium.be/IMG/pdf/arc-en-ciel_antiquite_final.pdf
    </div>

    <div>
        <h2>Formater une date :</h2>
        {{ "now"|date('d/m/y H:i') }}
    </div>
{% endblock %}